<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.vaith.pmbssm.mapper.SysLogMapper">
    <resultMap id="BaseResultMap" type="xyz.vaith.pmbssm.model.SysLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="target_id" jdbcType="INTEGER" property="targetId"/>
        <result column="old_value" jdbcType="VARCHAR" property="oldValue"/>
        <result column="new_value" jdbcType="VARCHAR" property="newValue"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="operate_timer" jdbcType="TIMESTAMP" property="operateTimer"/>
        <result column="operate_ip" jdbcType="VARCHAR" property="operateIp"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, `type`, target_id, old_value, new_value, `operator`, operate_timer, operate_ip
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="xyz.vaith.pmbssm.model.SysLog"
            useGeneratedKeys="true">
    insert into sys_log (`type`, target_id, old_value, 
      new_value, `operator`, operate_timer, 
      operate_ip)
    values (#{type,jdbcType=INTEGER}, #{targetId,jdbcType=INTEGER}, #{oldValue,jdbcType=VARCHAR}, 
      #{newValue,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{operateTimer,jdbcType=TIMESTAMP}, 
      #{operateIp,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="xyz.vaith.pmbssm.model.SysLog"
            useGeneratedKeys="true">
        insert into sys_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">
                `type`,
            </if>
            <if test="targetId != null">
                target_id,
            </if>
            <if test="oldValue != null">
                old_value,
            </if>
            <if test="newValue != null">
                new_value,
            </if>
            <if test="operator != null">
                `operator`,
            </if>
            <if test="operateTimer != null">
                operate_timer,
            </if>
            <if test="operateIp != null">
                operate_ip,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="targetId != null">
                #{targetId,jdbcType=INTEGER},
            </if>
            <if test="oldValue != null">
                #{oldValue,jdbcType=VARCHAR},
            </if>
            <if test="newValue != null">
                #{newValue,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="operateTimer != null">
                #{operateTimer,jdbcType=TIMESTAMP},
            </if>
            <if test="operateIp != null">
                #{operateIp,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="xyz.vaith.pmbssm.model.SysLog">
        update sys_log
        <set>
            <if test="type != null">
                `type` = #{type,jdbcType=INTEGER},
            </if>
            <if test="targetId != null">
                target_id = #{targetId,jdbcType=INTEGER},
            </if>
            <if test="oldValue != null">
                old_value = #{oldValue,jdbcType=VARCHAR},
            </if>
            <if test="newValue != null">
                new_value = #{newValue,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                `operator` = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="operateTimer != null">
                operate_timer = #{operateTimer,jdbcType=TIMESTAMP},
            </if>
            <if test="operateIp != null">
                operate_ip = #{operateIp,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="xyz.vaith.pmbssm.model.SysLog">
    update sys_log
    set `type` = #{type,jdbcType=INTEGER},
      target_id = #{targetId,jdbcType=INTEGER},
      old_value = #{oldValue,jdbcType=VARCHAR},
      new_value = #{newValue,jdbcType=VARCHAR},
      `operator` = #{operator,jdbcType=VARCHAR},
      operate_timer = #{operateTimer,jdbcType=TIMESTAMP},
      operate_ip = #{operateIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>